#include <stdio.h>

union test
{
    char letter;
    int code;
};

int main()
{
    int choice;

    printf("Enter your choice:\n");
    printf("1. Print fruits\n");
    printf("2. Print numbers\n");
    printf("3. Print union\n");
    scanf("%d", &choice);

    switch (choice)
    {
    case 1:
    {
        char *fruits[] = {"Apple", "Mango", "Banana", "Lichy", "Grapes"};

        for (size_t i = 0; i < 5; i++)
        {
            printf("%s, ", fruits[i]);
        }
        printf("\n");
        break;
    }
    case 2:
    {
        for (size_t i = 5; i < 10; i++)
        {
            printf("[%lu] ", i);
        }
        printf("\n");
        break;
    }
    case 3:
    {
        union test letter1;

        letter1.code = 65;
        printf("%c\n", letter1.letter);
        letter1.letter = 'B';
        printf("%d\n", letter1.code);
        printf("%d\n", letter1.letter);
        break;
    }
    default:
        printf("Invalid choice\n");
        break;
    }

    return 0;
}
